<html>
    <head>
        <title>Rubik's Cube Solver!</title>
        <script type="text/javascript" src="/lib/three.min.js"></script>
        <script type="text/javascript" src="/lib/OrbitAndPanControls.js"></script>
        <script type="text/javascript" src="/lib/tween.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="bg"></div>
        <div id="anim"></div>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
