<html ng-app="rubikApp">
    <head>
        <title>Rubik's Cube Solver!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <script type="text/javascript" src="/static/lib/three.min.js"></script>
        <script type="text/javascript" src="/static/lib/OrbitAndPanControls.js"></script>
        <script type="text/javascript" src="/static/lib/tween.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/cube.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
    </head>
    <body ng-controller="MainCtrl" onload="initScene()">
        <div class="title">
            <h1>PyCuber!</h1>
        </div>
        <div id="input">
            <button ng-click="randomCube()">Random</button>
            <button ng-click="solvedCube()">Solved</button>
            <button ng-click="clearCube()">Clear</button>
            <button ng-click="solveCube()">SOLVE IT !</button>
            <br>
            <div id="fill-colours">

                <div class="grids">

                    {% for face in "LUFDRB" %}
                    <div id="face-{{face}}">

                        {% for _ in "..." %}
                            {% set parent_loop = loop %}
                            {% for __ in "..." %}

                                {% if loop.index == parent_loop.index == 2 %}

                                <div id="{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     class="square centre"
                                     ng-style="colourMap.{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     ng-click="selectColour('{{face}}')"></div>

                                {% elif loop.first %}

                                <div id="{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     class="square clear"
                                     ng-style="colourMap.{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     ng-click="setColour('{{face}}{{parent_loop.index0}}{{loop.index0}}')"></div>

                                {% else %}

                                <div id="{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     ng-style="colourMap.{{face}}{{parent_loop.index0}}{{loop.index0}}"
                                     class="square"
                                     ng-click="setColour('{{face}}{{parent_loop.index0}}{{loop.index0}}')"></div>

                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="current-colour" ng-style="selectedColour"></div>
            </div>
        </div>
        <div id="output">
            <div id="solutions">
                <table class="solution-table">
                    <tr ng-repeat="step in solutionList">
                        <td>{{step.step_name | angular}}</td>
                        <td class="algos">{{step.result | angular}}</td>
                    </tr>
                </table>
            </div>
            <div id="player"></div>
            <div id="control">
                <button ng-click="playOriginalSolving()" ng-hide="solving">PLAY ORIGINAL SOLVING</button>
                <button ng-click="playOptimised()" ng-hide="solving">PLAY OPTIMISED</button>
            </div>
        </div>
    </body>
</html>
