<html>
	<head>
		<title>Rubik's Cube Solver!</title>
		<!--<script type="text/javascript" src="/lib/xhrRequest.js"></script>-->
		<script type="text/javascript" src="/lib/three.min.js"></script>
		<!--<script type="text/javascript" src="/statics/requestAnimFrame.js"></script>-->
		<script type="text/javascript" src="/lib/OrbitAndPanControls.js"></script>
		<script type="text/javascript" src="/lib/Coordinates.js"></script>
		<script type="text/javascript" src="/lib/tween.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<!--<font size="6">
		<pre id="scramble">Scramble: </pre>
		<br><br>
		<pre id="full_solve">Solve:    </pre>
		<br><br>
		<pre id="cross">Cross:    </pre>
		<br>
		<pre id="f2l1">F2L#1:    </pre>
		<br>
		<pre id="f2l2">F2L#2:    </pre>
		<br>
		<pre id="f2l3">F2L#3:    </pre>
		<br>
		<pre id="f2l4">F2L#4:    </pre>
		<br>
		<pre id="oll">OLL:      </pre>
		<br>
		<pre id="pll">PLL:      </pre>
		</font>-->
		<div id="bg"></div>
		<div id="anim"></div>
		<script type="text/javascript" src="/statics/cfop.js"></script>
	</body>
</html>